playwright
requests
loguru
scikit-learn
python-docx
colorama
boto3
streamlit
pandas
python-dotenv
werkzeug
pdf2image
pymupdf
pdfplumber
pytesseract
pypandoc
docx
psutil
wordcloud
matplotlib
pyarrow
qdrant-client
